<table class='table-responsive table table-striped'>
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th ng-repeat='option in surveyOptions'>{{option.text}}</th>
    </tr>
  </thead>
  <tbody>
      <tr ng-repeat='question in subQuestions'>
        <td class='questionText'>
          {{question.text}}
        </td>
        <td ng-repeat='option in surveyOptions'>
          <input type='radio' ng-model='answers[$parent.$parent.$index][$parent.$index]' ng-required='!answers[$parent.$parent.$index][$parent.$index]' value="{{$index+1}}">
        </td>
      </tr>
  </tbody>
</table>
