<span ng-if='multiChoice'>
  <form ng-submit='submitSurvey()'>
    <div class='well' ng-repeat='item in surveyItems'>
      <span ng-if="item.item_type === 'multiple_choice' && item.layout === 'multiple_choice'">
        <div ng-include="'/partials/survey_items/includes/multi_multi.html'"></div>
      </span>
      <span ng-if="item.item_type === 'multiple_choice' && item.layout === 'free_form'">
        <div ng-include="'/partials/survey_items/includes/multi_free_form.html'"></div>
      </span>
      <span ng-if="item.item_type === 'multiple_choice' && item.layout === 'table'">
        <div ng-include="'/partials/survey_items/includes/multi_table.html'"></div>
      </span>
      <span ng-if='item.item_type === "text_input"'>
        <div ng-include="'/partials/survey_items/includes/text_input.html'"></div>
      </span>
      <span ng-if='item.item_type === "numeric_input"'>
        <div ng-include="'/partials/survey_items/includes/numeric_input.html'"></div>
      </span>
    </div>
    <div>
      <input class='btn btn-primary pull-right' type='submit'></input>
    </div>
  </form>
</span>
<span ng-if='table'>
  <div class='table-responsive'>
    <form ng-submit='submitSurvey()'>
      <div ng-include="'/partials/survey_items/includes/multi_table.html'"></div>
      <input class='btn btn-primary pull-right' type='submit'></input>
    </form>
  </div>
</span>
